
#tmp files
*~

#builddir
build/*

#repos
repos

#binary data
sid-amd64/*
squeeze/*
squeeze-amd64/*
*-base.tgz
squeeze-i386/*
wheezy-i386/*
wheezy-amd64/*
saucy-i386/*
saucy-amd64/*
trusty-i386/*
trusty-amd64/*

#ccache
ccache/*

#hooks symlinks
hook.d/*.sym

